// main: "main.less"

.save-button {
  left: 90%;
  position: fixed;
  top: 90%;
  z-index: 20;
}
@media all and (orientation:portrait) {
  .save-button{
    left:80%;
  }
}

.save-button button {
  background-color: #424550;
  border: 0px;
  border-radius: 50%;
  cursor: pointer;
  font-size: xx-large;
  height: 50px;
  width: 50px;
  user-select: none;
}
