// main: "main.less"
// Corporate Design File
// General Settings for whole website

#colors() {
  background: #0d0e1a;
  primary: #004080;
  secondary: #677fa0;
  text: #f5f5f5;
  text-secondary: #222222;
  accent: #d8d8d8;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

@m-color: #4cc1ef;
@w-color: #eb1e42;
