// main: "main.less"
// Corporate Design File
    // General Settings for whole website

#colors() {
    text: #F5F5F5;
    background: #0D0E1A;
    primary: #004080;
    secondary: #677FA0;
    accent: #D8D8D8;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}