// out: "./main.css"
// overwrites global setting where auto compile is turned off

// Main less file: importiert alle anderen less Dateien.
// aus main.less wird main.css erstellt
// html referenziert lediglich main.css
@import "cd";
@import "front-page/logo-area";
@import "front-page/text-area";
@import "front-page/button-area";
@import "bookmark";
@import "filter/filter.less";
@import "filter/sex-slider.less";
@import "filter/syllables.less";

* {
  font-family: Arial, Helvetica, sans-serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  color: #colors[text];
}

body{
  font-size: 16px;
  background-color: #colors[background];
}

html{
  scroll-behavior: smooth;
}

.frontpage {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'header header header' 'leftOne middleOne rightOne' 'footerl footerm footerr';
  align-items: center;
}

#nextsite{
  height: 100vh;
}
