// main: "../../main.less"

.element {
  background-color: transparent;
  color: #colors[text];
  padding: 18px;
  box-sizing: border-box;
  text-align: left;
  font-size: 1.5rem;
  transition: 0.4s;
  border-radius: 15px;
}


.w {
  border: solid 2px @w-color;
}

.m {
  border: solid 2px @m-color;
}


@media screen and (max-width: 1000px) {
  .element {
    width: 100%;
  }
}

@media screen and (min-width: 1001px) {
  .element {
    width: calc(50% - 8px);
  }
}