// main: "../../main.less"

@media screen and (max-width: 1000px) {
    .filter-container{
        grid-area: 1 / 1 / 2 / 2;
        background-color: blue;
    }
}

@media screen and (min-width: 1001px) {
    .filter-container{
        grid-area: 1 / 1 / 2 / 2; 
        background-color: green;
    }
}

.dropdown-test{
    cursor: pointer;
}