// main: "../../main.less"

.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
}

.filter-element {
  width: 100%;
}

.accordion {
  background-color: transparent;
  color: #colors[text];
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
  transition: 0.4s;
  border-radius: 15px;
  border: solid 2px fade(@accent-color, 20%);
}

.accordion:after {
  content: "+";
  font-size: 1.5rem;
  color: #colors[text];
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "-";
}

.active,
.accordion:hover {
  border: solid 2px #colors[primary];
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.apply {
  color: #colors[text];
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 15px;
  border: solid 1px rgba(145, 211, 255, 0.349);
  transition: all 0.5s;
  background-color: #colors[primary];
}

.apply:hover {
  background-color: lighten(@background-color, 15%);
  background-image: none; //what is this
}
