// main: "../main.less"
// less file for everything at the top of the page including glow and logo + text

.top-glow {
  border-radius: 50%;
  box-shadow: 0px 0px 69px 15px rgba(145, 211, 255, 0.23),
    0px 0px 300px 300px #91d3ff, 0px 0px 500px 500px rgba(145, 211, 255, 0.219);
  height: 1px;
  position: relative;
  right: 0%;
  top: -800px;
  width: 1px;
  z-index: 10;
}
@media all and (orientation:portrait){
  .top-glow{
    top: -690px;
  }
}
.logo-area {
  display: flex;
  grid-area: header;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin: 0;
  padding: 0;
  user-select: none;
}

.logo-text {
  font-family: "Researcher";
  font-size: 2.5rem;
  user-select: none;
  text-align: center;
}

@font-face {
  font-family: "Researcher";
  src: url("/webapp/src/assets/researcher-researcher-regular-400.ttf"); /*URL to font*/
}

.logo {
  margin-top: 1rem;
  width: 20rem;
  height: auto;
}
@media all and (orientation:portrait){
  .logo{
    width: 10rem;
  }

}