// main: "../main.less"
// less file for text on welcom page inlcuding the *cool* animations

.text-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: middleOne;
  justify-content: center;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
@media all and (orientation: portrait) {
  .text-area {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
.welcome-text {
  color: #colors[text-secondary];
  display: block;
  font-size: 1.5rem;
  line-height: 2;
  text-align: justify;
  text-align-last: center;
  user-select: none;
}

.bar {
  background-color: #colors[text-secondary];
  position: absolute;
}

@round-trip-duration: 20s;
@initial-length: 0px;
@maximum-length: 20px;
@thickness: 2px;

.left-bar {
  animation: normal ease-in-out left-bar @round-trip-duration infinite;
  height: @initial-length;
  left: 0%;
  top: 0%;
  width: @thickness;
}

.right-bar {
  animation: normal ease-in-out right-bar @round-trip-duration infinite;
  bottom: 0%;
  height: @initial-length;
  right: 0%;
  width: @thickness;
}

.top-bar {
  animation: normal ease-in-out top-bar @round-trip-duration infinite;
  height: @thickness;
  left: 0%;
  top: 0%;
  width: @initial-length;
}

.bottom-bar {
  animation: normal ease-in-out bottom-bar @round-trip-duration infinite;
  bottom: 0%;
  height: @thickness;
  right: 0%;
  width: @initial-length;
}

@keyframes top-bar {
  0% {
    width: @initial-length;
    left: 0%;
  }
  12.5% {
    width: @maximum-length;
    left: 50%;
  }
  25% {
    width: @initial-length;
    left: 100%;
  }
  100% {
    width: @initial-length;
    left: 100%;
  }
}
@keyframes right-bar {
  0% {
    height: @initial-length;
    top: 0%;
  }
  25% {
    height: @initial-length;
    top: 0%;
  }
  37.5% {
    height: @maximum-length;
    top: 50%;
  }
  50% {
    height: @initial-length;
    top: 100%;
  }
  100% {
    height: @initial-length;
    top: 100%;
  }
}
@keyframes bottom-bar {
  0% {
    width: @initial-length;
    right: 0%;
  }
  50% {
    width: @initial-length;
    right: 0%;
  }
  62.5% {
    width: @maximum-length;
    right: 50%;
  }
  75% {
    width: @initial-length;
    right: 100%;
  }
  100% {
    width: @initial-length;
    right: 100%;
  }
}

@keyframes left-bar {
  0% {
    height: @initial-length;
    top: 100%;
  }
  75% {
    height: @initial-length;
    top: 100%;
  }
  87.5% {
    height: @maximum-length;
    top: 50%;
  }
  100% {
    height: @initial-length;
    top: 0%;
  }
}
.dot-animation {
  animation: typing 10s steps(6) infinite;
  animation-delay: 1s;
  color: rgba(240, 248, 255, 0.26);
  font-size: 1.6rem;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  width: 3ch;
  user-select: none;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 3ch;
  }
}
