// main: "../main.less"
// less file for text on welcom page inlcuding the *cool* animations

.text-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: middleOne;
  justify-content: center;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.welcome-text {
  color: #colors[text];
  display: inline-block;
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
  user-select: none;
}

.bar {
  background-color: #colors[text];
  position: absolute;
}

.left-bar {
  animation: alternate ease-in-out left-bar 5s infinite;
  height: 0px;
  left: 0%;
  top: 0%;
  width: 2px;
}

.right-bar {
  animation: alternate ease-in-out right-bar 5s infinite;
  bottom: 0%;
  height: 0px;
  right: 0%;
  width: 2px;
}

@keyframes left-bar {
  0% {
    height: 0px;
    top: 0%;
  }
  50% {
    height: 20px;
    top: 50%;
  }
  100% {
    height: 0px;
    top: 100%;
  }
}
@keyframes right-bar {
  0% {
    bottom: 0%;
    height: 0px;
  }
  50% {
    bottom: 50%;
    height: 20px;
  }
  100% {
    bottom: 100%;
    height: 0px;
  }
}

.dot-animation {
  animation: typing 10s steps(6) infinite;
  animation-delay: 1s;
  color: rgba(240, 248, 255, 0.26);
  font-size: 1.6rem;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  width: 3ch;
  user-select: none;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 3ch;
  }
}
